{% extends "aptv/layout.html" %}

{% block lang %}zh-TW{% endblock %}

{% block title %}APTV{% endblock %}

{% block body %}
<h1>Welcome to APTV</h1>

<ul>
    <li><a href="/tw/zh-Hant">TW (zh-Hant)</a></li>
    <li><a href="/tw/en">TW (en)</a></li>
    <li><a href="/hk/zh-Hant">HK (zh-Hant)</a></li>
    <li><a href="/hk/en">HK (en)</a></li>
    <li><a href="/sg/en">SG (en)</a></li>
    <li><a href="/us/en">US (en)</a></li>
    <li><a href="/ca/en">CA (en)</a></li>
    <li><a href="/gb/en">GB (en)</a></li>
</ul>

{% endblock %}
