{% extends "aptv/layout.html" %}

{% block lang %}{{ lang }}{% endblock %}

{% block title %}APTV Page{% endblock %}


{% block style %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<style>
    .swiper-container {
      width: 100%;
      height: 225px;
    }

    .swiper-slide > a > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-button-next, .swiper-button-prev {
        transition: opacity .5s;
    }

    .swiper-button-disabled {
        opacity: 0 !important;
    }

    /* badgeText */
    .swiper-slide {
          position: relative;
        }

    .badgeText {
      position: absolute;
      top: 8px;
      left: 16px;

      background-color: black;
      color: white;
    }
 </style>
{% endblock %}



{% block body %}
<div class="container-fluid">

    {% for shelf in shelves %}
    <div class="row justify-content-beteewn mt-5">
        <div class="col-11">
            <h1>{{ shelf['shelf_title'] }}</h1>
        </div>
        <div class="col-1 align-self-center">
            {% if shelf['more'] %}
            <a href="{{ url_for('collection_page', country=country, lang=lang, shelf_id=shelf['shelf_id']) }}" class="btn btn-outline-info">看更多</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for item in shelf['shelf_items'] %}
                    <div class="swiper-slide">
                        <a href="{{ item['item_url'] }}">
                            <img src="{{ item['item_image_url'] }}" alt="{{ item['item_title'] }}" title="{{ item['item_title'] }}" class="img-fluid rounded">
                            {% if item['item_badgeText'] %}
                            <span class="badgeText">{{ item['item_badgeText'] }}</span>
                            {% endif %}
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <!-- Navigation -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}

{% block script %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 4,
      spaceBetween: 5,

      // Responsive breakpoints
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 1,
          spaceBetween: 0
        },
        // when window width is >= 480px
        480: {
          slidesPerView: 1,
          spaceBetween: 0
        },
        // when window width is >= 640px
        640: {
          slidesPerView: 2,
          spaceBetween: 0
        },
        // when window width is >= 800px
        800: {
          slidesPerView: 4,
          spaceBetween: 5
        },
      },
      freeMode: true,

      // Navigation
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
 </script>


{% endblock %}

